@use './fonts.module.scss' as fonts;

/* ====== COLOR PALETTE ======= */
:root {
  /* PRIMARY YELLOW */
  --primary_yellow_100: #fff9e6;
  --primary_yellow_200: #fff2cc;
  --primary_yellow_400: #ffe599;
  --primary_yellow_500: #ffd966;
  --primary_yellow_600: #f9cf00;
  /* PRIMARY WHITE */
  --primary_white_100: #f2f2f2;
  --primary_white_200: #e6e6e6;
  /* PRIMARY GRAY */
  --primary_gray_100: #d9d9d9;
  --primary_gray_200: #cccccc;
  --primary_gray_300: #bfbfbf;
  --primary_gray_400: #b3b3b3;
  /* PRIMARY BLACK */
  --primary_black_500: #4d4d4d;
  --primary_black_600: #333333;
  --primary_black_700: #1a1a1a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
}
